html, body {
    max-width: 100%;
    overflow-x: hidden;
 }

 .untill{
 margin-left: 10%;
 }

.home{
    font-size: 22px;
}
.about{
    font-size: 22px;
}
.excerpt{
    font-size: 22px;
}
.contact{
    font-size: 22px;
}
.ron{
    font-size: 45px;
    font-weight: 600;

}
.simple{
    font-size: 80px;
    font-weight: 700;
}

.dummy{
    margin-left: 90px;
}

.type{
    background-color: darkolivegreen;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
.book img{
   padding-right: 50%;
}

.line{
    width: 10%;
    rotate: 90deg;
   
}
.change{
    rotate:90deg;
   padding-bottom: 120%;
   margin-left:-4%;
}  
.face{
    width: 8%;
    /* rotate: 265deg; */
 
}
.inta{
    width: 10%;
}
.you{
    width: 7%;
}

/* .socialicon{
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.social li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
 } 
.social li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}  */

.right{
    margin-left: 1570%;
}


.hand{
    width: 60%;
   
}
.ideo{
    font-size:70px;
    font-weight: 750;
    
}

.fact{
    color: grey;
}
.make{
    color: cadetblue;
}
.when{
    padding-top: 15%;
}

.up{
    font-size: 60px;
   margin-bottom: -2%;
}
.one{
    border-radius: 90%;
    width: 40px;
    height: 45px;
    background: #fff;
    border: 3px solid black;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}
.two{
    border-radius: 90%;
    width: 40px;
    height: 45px;
    background: cadetblue;
    border: 3px solid black;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}
.three{
    border-radius: 90%;
    width: 40px;
    height: 45px;
    background: #fff;
    border: 3px solid black;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}
.four{
    border-radius: 90%;
    width: 40px;
    height: 45px;
    background: #fff;
    border: 3px solid black;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}
